.composicion{
  //agregamos un tamaño, sombra y posición para cada composicion_foto
  position:relative;



  &__foto{
  width: 55%;
  box-shadow:0 1.5rem 4rem rgba($color-negro, 0.4);
  border-radius: 2px;
  position: absolute;
  z-index: 10;
  transition: all 0.2s;


   @include respond(tab-port){
      width: 33.33333333%;
      position: relative; 
      float: left;
      box-shadow: 0 1.5rem 2rem rgba($color-negro, 0.2);
    }

  &--f1 {
    left: 0;
    top: -2rem;

    @include respond(tab-port){
      top: 1.9rem;
      transform: scale(1.2);
    }

  }


  &--f2 {
    right: 0;
    top: 2rem;

    @include respond(tab-port){
      top: -1rem;
      transform: scale(1.3);
      z-index: 100;
    }

  }
  &--f3{
    left: 20%;
    top: 10rem;

    @include respond(tab-port){
      top: -3rem;
      left: 0;
      transform: scale(1.1);
    }

  }


  //colocamos un efecto a cada imagen cuando el cursor pase por encima de cada una
  &:hover{
    outline: 1.5rem solid $color-azul-oscuro;
    transform: scale(1.05);
    box-shadow: 0 2.5rem 4rem rgba($color-negro, 0.5);
    z-index: 20; //mediante el z-index logramos que la imagen debajo del cursor se sobreponga a las otras imagenes
  }

  }
}